body{
  margin: 0;
  padding: 0;
  background: #121212 !important;
  font-size: 400px !important;
}

.calculator-container{
  margin: auto;
  width: 300px;
  height: 500px;
}

.sum-btn{
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-weight: 400;
  font-size: 30px;
  margin: auto;
}

.font-30px{
  font-size: 30px !important;
}

.text-olive{
  color: #66cda3 !important;
}

.bg-olive{
  background-color: #66cda3 !important;
}

.height-100{
  height: 80px !important;
  line-height: 80px !important;
}

.img-del{
  height: 40px;
  width: 40px;
}